/*------Navigation bar:------*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float:left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}




/*------General pages-----*/
body{
    background:#3e4470;
}
#footer{
    position:absolute;
    bottom:0;
    height:20px;
    /*margin-left:40%;*/
}
h1{
    text-align:center;
    font-family: 'Rammetto One', cursive;
}
p{
    font-family: 'Indie Flower', cursive;
    font-size:120%;
}

/*------Front page------*/
.main-content{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    height:100%;
    margin-top:20px;
    margin-bottom:20px;
}
.inner-content{
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
h1{
    text-align:center;
}
.front-image{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.front-image img{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    position:center;
    padding-top:20px;
}
.intro{
    background:#e2ecff;
    border-radius:25px;
}
.intro p{
    text-align:center;
}
.inner-intro{
    padding:20px;
}

/*-----Memes Page-----*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 12px;
    padding:4px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/*------Jokes page-----*/
.content{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

div.partB{
    display: none;
}
    
div.partA:hover + div {
    display: block;
}
.partA:hover{
    background:#f78c8c;
    border-radius:16px;
}

.partA p{
    text-align:center;
    background:#d6a0a0;
    border-radius:16px;
    font-size:170%;
}
.partB p{
    text-align:center;
    background:#a0d6af;
    border-radius:16px;
    font-size:170%;
}
p{
    padding:3px;
}

/*------Contact------*/

.contact{
    margin-top:30%;
    background:#e2ecff;
    border-radius:25px;
    
}
.contact h3{
    text-align:center;
}
.inner-contact{
    padding:20px;
}

